.navigationBlock {
  display: flex;
  flex-direction: row;
  gap: 90px;
  align-items: center;
}

.buttonsBlock {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.linksList {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 0;
  margin: 0;
}
